* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

header{
 background-color: aqua;
    text-align: center;
    text-shadow: 1px 5px 5px;
    padding: 65px;
}
aside {
 background-color: aquamarine;
padding: 50px;
}

body{
   background-color: aqua;
}

main{
   background-color: aliceblue;
   
    padding: 25px;
}

footer{
   background-color: aqua;
    padding: 50px;
    text-align: center;
}
 
figure{
   margin: 20px 0;
   background-color: aliceblue;
    padding: 50px;
    text-align: center;
}


